.cart {
  width: 100%;
  background-color: var(--light);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
  text-align: center;
}

.cart .close {
  /* position: absolute; */
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: .25rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.cart-icon {
  margin-left: 5px;
}

.cart-closed:hover {
  transform: rotate(10deg);
  opacity: 1;
}

.cart img {
  width: 70px;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.cart-items-container {
  max-height: 70vh;
  overflow-y: scroll;
}