.author {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  margin: 5px;
}

.commText {
  font-size: 16px;
  display: flex;
  justify-content: start;
  margin: 5px;
  margin-left: 25px;
}

.dateText {
  font-size: 14px;
  display: flex;
  justify-content: end;
  margin: 5px;
  margin-left: 25px;
}

.container {
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  form {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: #EAEAEA;
    background-color: #252A34;
    padding: 5px;
    max-width: 100%;
    width: fit-content;
  }

  input {
    margin-right: 10px;
    border-radius: 5px;
  }

  .complaints-container {
    display: inline-block;
    justify-content: center;
    background-color: #252A34;
    border-radius: 10px;
    margin: 0 auto;
  }

  .comments-container {
    background-color: #F4E869;
    color:#252A34;
    border-radius: 10px;
    margin: 0 auto;
  }

  .singleComplaint {
    color: #252A34;
    background-color: #EAEAEA;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
  }

  button {
    border-radius: 5px;
    background-color: #08D9D6;
  }

  h1 {
    color: #252A34;
    margin: 10px;
  }

  .error {
    color: #FF2E63;
    margin: 20px;
  }

  .error-message {
    color: #FF2E63;
    margin: 20px;
  }

  .results-container {
    /* Your centering styles here, e.g.: */
    margin: 0 auto;
    width: 80%;
    text-align: center;
    /* Add any other styles you need */
}

