.author {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  margin: 5px;
}

.commText {
  font-size: 16px;
  display: flex;
  justify-content: start;
  margin-left: 25px;
}

.dateText {
  font-size: 14px;
  display: flex;
  justify-content: end;
  margin: 5px;
  margin-left: 25px;
}

.container {
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 100%;
  margin: 0 auto;
}

form {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  color: #eaeaea;
  background-color: #252a34;
  padding: 1.5rem;
  flex-wrap: wrap;
  flex-direction: column;
}

input {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1%;
}

.complaints-container {
  display: inline-block;
  justify-content: center;
  background-color: #252a34;
  border-radius: 10px;
  margin: 0 auto;
}

.comments-container {
  background-color: #f4e869;
  color: #252a34;
  border-radius: 10px;
  margin: 0 auto;
}

.singleComplaint {
  border: 2px dashed #ff9800;
  color: #252a34;
  background-color: #fff3e0;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  width: 250px;
}

.mePage {
  color: #252a34;
}

button {
  border-radius: 5px;
  background-color: #219c90;
  border-color: #252a34;
  opacity: 0.9;
  color: white;
  margin-right: 1%;
}

button:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: transform 1s;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  color: #888;
}
h1 {
  color: #252a34;
  margin: 10px;
}

.error {
  color: #ff2e63;
  margin: 20px;
}

.error-message {
  color: #ff2e63;
  margin: 20px;
}

.results-container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.noComplaints {
  border: 2px dashed #ff9800;
  padding: 20px;
  text-align: center;
  margin: 15px 0;
  border-radius: 10px;
  background-color: #fff3e0;
}

.noReplies {
  border: 2px dashed #ff9800;
  padding: 20px;
  text-align: center;
  margin: 15px 0;
  border-radius: 10px;
  background-color: #f4e869;
}

.noComplaints h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.noComplaints p {
  font-size: 18px;
  margin-bottom: 15px;
}

.bonusNote {
  display: block;
  margin-top: 15px;
  font-style: italic;
  color: #888;
}

.complaint-container {
  margin: 20px 0;
}

.complaint-form-container {
  padding: 15px;
  background-color: transparent;
}

.error {
  color: red;
  margin-top: 10px;
}

@media (max-width: 390px) {
  form {
    margin-top: 15%;
  }
}

@media screen and (max-width: 1441px) {
  form {
    padding: 1rem;
  }
}

.scrollable-content {
  max-height: 400px;
  overflow-y: auto;
}

.scrollable-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.scrollable-content {
  scrollbar-width: none;  /* Firefox 64+ */
}

.scrollable-content {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

